<app-header></app-header>
<div class="g-bg-color--sky-light">
  <div class="container g-padding-y-125--xs">
    <div class="g-padding-y-50--xs">
      <h1 class="g-font-size-50--xs g-font-size-55--sm g-font-size-70--lg">We're Helpkart</h1>
      <p class="g-font-size-18--xs g-font-size-24--md g-margin-b-0--xs">Donazon is one of it kind platform which is transforming the way people give to charities with the help of e-commerce like Amazon.</p>
    </div>

    <div class="row g-margin-b-10--xs">
        <div class="col-md-6 g-margin-b-10--xs g-margin-b-0--lg g-margin-t-10--lg">
            <div class="g-margin-b-30--xs">
                <p>Donazon is a unique platform that allows non-profit organizations to create campaigns for their ongoing projects.
                  Through Donazon, NGOs can list the products directly from Amazon they are in immediate need of. Donors can choose the organization that they wish to support and donate the products they want to. The process of buying these products is extremely convenient and is the same as shopping online.
                  Similar to online shopping you do on Amazon once you make the payment, the products will be directly added to the organization’s amazon cart and finally delivered from Amazon at the end of the campaign (or) once they reach the target. You will always be able to track your donation and Campaigns will keep updating the donors about the utilisation of products with help of our smart CRM tools.</p>
              <p>Our goal is to create a community of donors and non-profit organizations where donations is like buying a gift online. Join us in changing a traditional donation practice and be a part of our community! </p>
            </div>
        </div>
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-6 g-margin-b-0--xs g-margin-b-0--lg">
            <!-- Masonry Grid -->
            <div class="row g-row-col--5 g-overflow--hidden js__masonry g-margin-t-20--xs">
                <!--<div class="col-xs-6 js__masonry-sizer"></div>-->
                <div class="col-xs-6 g-full-width--xs g-margin-b-10--xs g-margin-b-0--sm js__masonry-item">
                    <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" src="../../public/img/about/03.jpg" alt="Image">
                    </div>
                </div>
              <div class="col-xs-6 g-full-width--xs g-margin-b-10--xs js__masonry-item">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".3s">
                        <img class="img-responsive" src="../../public/img/about/01.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-xs-6 g-full-width--xs js__masonry-item">
                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".5s">
                        <img class="img-responsive" src="../../public/img/about/02.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
