<div class="g-bg-color--white">
    <div class="g-container">
        <div class="g-margin-b-20--xs ">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-letter-spacing--1 g-color--dark g-text-center--xs g-text-left--sm">My Campaigns</h2>
            <div class="row g-margin-t-20--xs">
              <div class="col-xs-12 col-lg-6 g-padding-y-15--xs g-padding-x-5--xs g-padding-x-15--md">
                <app-dashboard-campaign-card
                  campaignId="123"
                  title="feed the poor"
                  ngo="Donatekart"
                  status="70%"
                  timeLeft="2 days"
                  rating="2"
                  products="400"
                  backers="222"
                  image="https://dkprodimages.gumlet.io/DWL1104_Cover.png?format=webp&q=70&w=750&dpr=1.0"></app-dashboard-campaign-card>
              </div>
            </div>
        </div>
    </div>
</div>
