.cart-item{
  /*box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);*/
  border-radius: 4px;
  border: 0.0625rem solid #eee;
  padding: 0 5px 10px 0;
}
.cart-item-price{
  display: flex;
}
.control-remove{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  text-decoration: underline;
  cursor: pointer;
}


@media (min-width: 600px){
  .cart-item-body{
    display: flex;
  }
  .cart-item-info{
    width: 100%;
  }
  .cart-item-price{
    display: block;
    width: 100%;
    text-align: right;
  }
}
.product-overflow{
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: block;
}
