<app-notification></app-notification>
<app-header></app-header>
<div class="container g-padding-y-0--xs g-padding-y-80--sm g-padding-l-30--xs g-padding-r-30--xs">
    <div class="row g-margin-t-100--xs g-margin-t-0--sm">
      <div class="col-sm-7 g-margin-t-0--xs g-margin-t-70--lg g-margin-b-10--xs g-margin-b-0--lg">
        <div class="row g-row-col--5">
          <div class="col-xs-12 col-sm-1"></div>
          <div class="s-swiper js__swiper-products g-margin-b-30--xs g-margin-b-30--md">
            <div class="swiper-wrapper g-margin-b-20--xs">
              <img class="img-responsive g-width-100-percent--xs swiper-slide" id="drift1" src="https://dkprodimages.gumlet.io/Ranka_ji-SSS-COVER.jpg?format=webp&w=750&dpr=1.0" alt="Image">
              <img class="img-responsive g-width-100-percent--xs swiper-slide" id="drift2" src="https://dkprodimages.gumlet.io/Ranka_ji-SSS-COVER.jpg?format=webp&w=750&dpr=1.0" alt="Image">
            </div>
            <div class="s-swiper__pagination-v1--dark s-swiper__pagination-v1 g-text-center--xs js__swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1 g-margin-t-0--xs g-margin-t-70--lg g-margin-b-60--xs g-margin-b-0--lg">
        <div class="detail">
          <div class="g-hor-divider__dashed--sky-light">
            <p class="text-uppercase g-font-size-18--xs g-font-weight--700 g-color--primary g-letter-spacing--1 g-margin-b-5--xs">Save our Gau Mata from starvation amidst the Corona crisis</p>
            <p class="g-font-size-14--xs g-color--dark">Started By <a class="g-font-size-14--xs" href="">Donatekart</a></p>
          </div>
            <div class="g-margin-t-20--xs g-hor-divider__dashed--sky-light">
              <p class="g-color--dark">This is the description</p>
              <h2 class="g-font-size-22--xs g-font-size-26--sm g-margin-b-20--xs star">
                <i *ngFor="let st of ratingArray" class="material-icons g-font-size-20--xs g-color--gold">star</i>
              </h2>
            </div>
            <div class="g-padding-y-20--xs g-hor-divider__dashed--sky-light">
              <div class="price-star">
                  <div class="g-font-size-13--xs g-color--dark g-margin-r-5--xs"><span class="g-font-weight--600">Completed: </span>40%</div>
                  <div class="g-font-size-13--xs g-color--dark"><span class="g-font-weight--600">Time Left: </span>2 days</div>
              </div>
              <div class="price-star">
                <div class="g-font-size-13--xs g-color--dark g-margin-r-5--xs"><span class="g-font-weight--600">Products: </span>23232</div>
                <div class="g-font-size-13--xs g-color--dark"><span class="g-font-weight--600">Backers: </span>121</div>
              </div>
            </div>
            <div class="g-margin-t-20--xs g-margin-b-20--xs">
              <a type="button" class="text-uppercase s-btn s-btn--xs s-btn--primary-bg g-radius--50 g-padding-x-50--xs">Donate Now <i class="g-margin-l-5--xs ti-heart"></i></a>
            </div>

        </div>
        <div id="share">
            <button shareButton="facebook" class="btn s-btn--white-bg">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button shareButton="twitter" class="btn s-btn--white-bg">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            <button shareButton="linkedin" class="btn s-btn--white-bg">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </button>
            <button shareButton="whatsapp" class="btn s-btn--white-bg">
             <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </button>
            <button shareButton="telegram" class="btn s-btn--white-bg">
              <i class="fa fa-telegram" aria-hidden="true"></i>
            </button>
            <button shareButton="pinterest" class="btn s-btn--white-bg">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div id="products" class="row g-margin-t-30--xs g-margin-b-30--xs g-margin-b-30--md">
            <div class="g-margin-b-20--xs">
              <h2 class="g-font-size-26--xs g-font-size-30--md g-letter-spacing--1 g-color--dark">Listed Products</h2>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 g-padding-y-15--xs g-padding-x-5--xs g-padding-x-15--md">
              <app-product
                id="1"
                title="Tata Salt"
                price="20"
                status="70%"
                needed="2 days"
                obtained="400"
                donors="222"
                campaignId="1"
                image="https://images-eu.ssl-images-amazon.com/images/I/51MNtAMEeuL._AC_SY200_.jpg">
              </app-product>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 g-padding-y-15--xs g-padding-x-5--xs g-padding-x-15--md">
              <app-product
                id="1211"
                title="Tata Salt"
                price="20"
                status="70%"
                needed="2 days"
                obtained="400"
                donors="222"
                campaignId="123"
                image="https://images-eu.ssl-images-amazon.com/images/I/51MNtAMEeuL._AC_SY200_.jpg">
              </app-product>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 g-padding-y-15--xs g-padding-x-5--xs g-padding-x-15--md">
              <app-product
                id="1211"
                title="Tata Salt"
                price="20"
                status="70%"
                needed="2 days"
                obtained="400"
                donors="222"
                campaignId="123"
                image="https://images-eu.ssl-images-amazon.com/images/I/51MNtAMEeuL._AC_SY200_.jpg">
              </app-product>
          </div>
        </div>
        <app-update></app-update>
        <app-review></app-review>
      </div>
    </div>

 </div>

<app-footer></app-footer>
