<app-header></app-header>
<div class="d-container g-padding-y-80--xs g-padding-y-100--sm g-padding-x-20--xs g-padding-x-40--sm g-padding-x-80--md">
  <div class="d-section g-margin-t-20">
    <div class="left-section g-padding-y-20--xs">

      <div (click)="toogleMenuList()" class="heading g-font-size-18--xs g-font-size-16--sm"><div>Menu</div><i class="material-icons">menu</i></div>

      <section class="menu-list" *ngIf="menuListShown">
        <div class="dashboard g-padding-y-10--xs">
          <div class="g-font-size-14--xs g-font-weight--600 text-uppercase">Dashboard</div>
          <ul class="list-unstyled">
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard">Home</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" (click)="signOut()">Logout</a></li>
          </ul>
        </div>
        <div class="artist g-padding-y-10--xs">
          <span class="g-font-size-14--xs g-font-weight--600 text-uppercase">Artist Shop</span>
          <ul class="list-unstyled">
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/add_design">Add Design</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/designs">My Designs</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" target="_blank" routerLink="/profile/@{{username}}">My Profile</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/settings">Settings</a></li>
          </ul>
        </div>
        <div class="sales  g-padding-y-10--xs">
          <span class="g-font-size-14--xs g-font-weight--600 text-uppercase">Sales</span>
          <ul class="list-unstyled">
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/pricing">Pricing</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/earnings">Earnings</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/payment_info">Payment Info</a></li>
          </ul>
        </div>
        <div class="help g-padding-y-10--xs">
          <span class="g-font-size-14--xs g-font-weight--600 text-uppercase">Help & Support</span>
          <ul class="list-unstyled">
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/faqs">FAQs</a></li>
            <li class="g-color--dark g-font-size-13--xs"><a class="g-font-size-13--xs" routerLink="/dashboard/guidelines">Guidelines</a></li>
          </ul>
        </div>
      </section>

    </div>
    <div class="right-section g-padding-y-20--xs">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>
